/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #74777b;
    background-color: #141922;
}

a {
    font-size: 14px;
    font-weight: bold;
    color: #74777b;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/* UTILITIES */

h4,
.color-w {
    color: #fff;
}

.flex {
    display: flex;
}

/* MAIN CONTENT */

.main-window {
    height: calc(100vh - 80px);
}

/* sidebar */
.sidebar, 
.content {
    overflow-y: hidden;
}

.sidebar {
    flex-basis: 230px;
    padding: 0 15px;
    background-color: #000;
}

/* sidebar top */
.sidebar-top {
    height: calc(100% - 80px);
    min-height: 300px;
    overflow-y: auto;
}

.logo {
    height: 80px;
    padding: 20px 0;
}

.logo img {
    height: 100%;
}

.sidebar-top li,
.sidebar-bottom li {
    display: flex;
    align-items: center;
}

/* nav-home */

.home li img {
    height: 25px;
    margin-right: 10px;
}

.home li {
    margin-bottom: 8px;
}

/* nav-playlist */

.playlist {
    margin-top: 30px;
}

.playlist ul {
    height: 200px;
    overflow-y: auto;
}

.playlist li {
    margin-bottom: 15px;
}

.playlist li:nth-child(2) a {
    font-size: 18px;
}

.playlist li i {
    font-size: 40px;
    margin-right: 10px;
}

/* sidebar-bottom */

.sidebar-bottom li:first-child img {
    width: 20px;
    margin-right: 15px;
}

.sidebar-bottom ul:first-child li {
    border-bottom: 1px solid currentColor;
    padding: 10px 0;
}

.profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: currentColor;
    margin-right: 10px;
    overflow: hidden;
}

.profile img {
    width: 100%;
}

/* CONTENT */

.content {
    flex-grow: 1; 
    width: calc(100% - 230px);
    position: relative;
}

/* main content top-bar */

.top-bar {
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.btn {
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.btn:active {
    width: 300px;
    padding: 15px 25px;
    border-radius: 30px;
}

/* content scrollable */

.scrollable {
    padding: 83px 15px 0;
    height: 100%;
    overflow-y: auto;
}

/* nav menu content */

.menu {
    padding: 20px 0;

}

.menu ul {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin-right: 15px;
} 

.menu ul li:first-child {
    border-bottom: 2px solid rgb(68, 218, 68);
}

/* CATEGORY MUSIC */

.category {
    margin-bottom: 30px;
}

.category h2 {
    margin-bottom: 20px;
}

.category h4 {
    margin: 15px 0;
}

.albums-list {
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.albums-list .album {
    flex-basis: calc(100% / 6 - 15px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.music {
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
}

.albums-list img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

.music.circle {
    border-radius: 50%;
    overflow: hidden;
}

.music .layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
}

.music .layover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.music:hover .layover {
    opacity: 1;
}

/* FOOTER */

.player {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
}

.player-album,
.player-audio {
    flex-basis: 230px;
    padding: 0 15px;
    align-items: center;
}

/* footer left */

.player-album {
    justify-content: space-between;
}

.player-album img {
    width: 50px;
}

/* footer center */

.player-controller {
    padding: 0 15px;
    align-items: center;
    flex-direction: column;
}

.player-controller i {
    margin-right: 15px;
    margin-bottom: 10px;
}

.player-controller i:nth-child(3) {
    font-size: 25px;
}


.player-controller:hover i:nth-child(3) {
    font-size: 35px;
}

.time {
    align-items: center;
}

.time span {
    font-size: 12px;
}

.time-bar-grey {
    width: 400px;
    height: 5px;
    border-radius: 5px;
    border: none;
    margin: 0 20px;
    background: currentColor;
    position: relative;
}

.time-bar-white {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background: white;
}

.cd-circle {
    font-size: 10px;
    position: absolute;
    opacity: 0;
}

.time-bar-grey i {
    top: -2px;
    left: 116px;
}

.time-bar-grey:hover .cd-circle {
    opacity: 1;
}

.time-bar-grey:hover .time-bar-white {
    background-color: rgb(12, 223, 12);
}

/* footer right */

.player-audio i {
    margin-right: 15px;
}

.time-bar-grey.right {
    width: 80px;
    margin: 0;
}

.time-bar-grey.right i {
    bottom: -2px;
    left: 21px;  
}

/**************************
        RESPONSIVE 
 *************************/

@media screen and (min-width: 601px ) {

    .logo-small {
        display: none;
    }

}

@media screen and (max-width: 600px ) {

    /* sidebar */
    .sidebar {
        flex-basis: 80px;
        
    }

    .sidebar section {
        margin: auto;
    }

    .logo-big,
    .home li a,
    .playlist,
    .sidebar-bottom li a {
        display: none;
    }

    .sidebar-bottom ul:first-child li {
        border-bottom: none;
        
    }

    /* content */
    .content {
        width: calc(100% - 80px);
    }

}

@media screen and (max-width: 878px) {

    /* FOOTER */

    .player {
        font-size: 10px;
    }

    .player-album,
    .player-audio {
        flex-basis: 150px;
    }

    /* footer left */

    .player-album img {
        width: 25px;
    }

    /* footer center */

    .player-controller {
        padding: 0 5px;
    }

    .player-controller i {
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .player-controller i:nth-child(3) {
        font-size: 20px;
    }

    .player-controller:hover i:nth-child(3) {
        font-size: 25px;
    }

    .time span {
        font-size: 8px;
    }

    .time-bar-grey {
        width: 150px;
        margin: 0 10px;
    }

    .time-bar-grey i {
        top: -2px;
        left: 45px;
    }

    /* footer right */

    .player-audio i {
        margin-right: 10px;
    }

    .time-bar-grey.right {
        width: 40px;
    }

    .time-bar-grey.right i {
        bottom: -2px;
        left: 10px;  
    }

}